.icosahedron {
	padding: 100px;
	height: 75vh;
	width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
}

.pentagon-container,
.hexagon-container {
	border-radius: 100%;
	/*
	background-color: rgba(255, 255, 255, 0.25);
	*/
}

.pentagon,
.hexagon {
	width: 100%;
	height: 100%;
}

.pentagon {
	clip-path: polygon(
		50% 0%,
		97.552825815% 34.54915028%,
		79.389262615% 90.450849718%,
		20.610737385% 90.450849718%,
		2.447174185% 34.54915028%
	);
	/* background: #ebbd25 !important; */
	opacity: 0.5;
}

.hexagon {
	/*
	clip-path: polygon(
		50% 0%,
		93.301270189% 25%,
		93.301270189% 75%,
		50% 100%,
		6.698729811% 75%,
		6.698729811% 25%
	);
	*/
	clip-path: polygon(
		0% 50%,
		25% 93.301270189%,
		75% 93.301270189%,
		100% 50%,
		75% 6.698729811%,
		25% 6.698729811%
	);
	background: #25a2eb;
	opacity: 0.5;
	position: relative;
}

.hexagon-container::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #f00;
	bottom: 0;
}

.icosahedron div div:nth-child(1n + 1) div {
	background: #eb7e25;
}

.icosahedron div div:nth-child(2n + 1) div {
	background: #25a2eb;
}

.icosahedron div div:nth-child(3n + 1) div {
	background: #ebe825;
}

.icosahedron div div:nth-child(4n + 1) div {
	background: #eb2525;
}
/*
.icosahedron div div:nth-child(5n + 1) div {
	background: #25ebeb;
}

.icosahedron div div:nth-child(6n + 1) div {
	background: #eb7e25;
}

.icosahedron div div:nth-child(7n + 1) div {
	background: #4deb25;
}
*/

/*
.hexagon-12 {
	transform-origin: center bottom;
	transform: rotate(-12deg);
}
*/
/* 
lado/2 = 29.389262615
lado = 58.77852523
apótema = 40.450849718
*/
