.icosahedron {
	padding: 100px;
	height: 75vh;
	width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
}

.pentagon-container,
.hexagon-container {
	border-radius: 100%;
	/*
	background-color: rgba(255, 255, 255, 0.25);
	*/
}

.pentagon,
.hexagon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* opacity: 0.75; */
}

.pentagon {
	clip-path: polygon(
		50% 0%,
		97.552825815% 34.54915028%,
		79.389262615% 90.450849718%,
		20.610737385% 90.450849718%,
		2.447174185% 34.54915028%
	);
}

.hexagon {
	/*
	clip-path: polygon(
		50% 0%,
		93.301270189% 25%,
		93.301270189% 75%,
		50% 100%,
		6.698729811% 75%,
		6.698729811% 25%
	);
	*/
	clip-path: polygon(
		0% 50%,
		25% 93.301270189%,
		75% 93.301270189%,
		100% 50%,
		75% 6.698729811%,
		25% 6.698729811%
	);
	position: relative;
}

.hexagon-container::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #f00;
	bottom: 0;
}

.icosahedron > .polygon > .face,
.icosahedron > .half-container > .face,
.icosahedron .half > .face {
	transform-style: preserve-3d;
}

.half-container {
	transform: translate3d(0px, 0px, calc(var(--halfContainerPositionZ) * -1)) !important;
}

.half-container + .half-container {
	transform: translate3d(0px, 0px, var(--halfContainerPositionZ)) rotateX(180deg) !important;
}

@for $i from 0 through 5 {
	$red: 240 - ($i * 10);
	$green: 255 - ($i * 10);

	.pentagon.pen-#{$i}-0 {
		background: rgb($red, 242, 235);
	}

	.hexagon.hex-#{$i}-1 {
		background: rgb($green, 189, 135);
	}

	.hexagon.hex-#{$i}-2 {
		background: rgb($green, 215, 145);
	}

	.hexagon.hex-#{$i}-3 {
		background: rgb($red - 7, 232, 166);
	}

	.hexagon.hex-#{$i}-4 {
		background: rgb($red - 23, 232, 174);
	}

	.hexagon.hex-#{$i}-5 {
		background: rgb($red - 49, 227, 192);
	}
}

/* 
lado/2 = 29.389262615
lado = 58.77852523
apótema = 40.450849718
*/
