.polygon {
	--rotationAxisX: 0;
	--rotationAxisY: 0;
	--rotationAxisZ: 0;

	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(0px) rotateX(var(--rotationAxisX)) rotateY(var(--rotationAxisY))
		rotateZ(var(--rotationAxisZ));
}

.face {
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(360deg) rotateZ(0);
	}
	100% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(0deg) rotateZ(0);
	}
}
