.polygon {
	/* border: 1px solid #fff; */
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: translateZ(0px) rotateX(60deg) rotateY(0deg) rotateZ(213deg);

	/* transform: translateZ(0px) rotateX(0) rotateY(0) rotateZ(72deg); */
	/* transform: translateZ(0px) rotateX(-0) rotateY(0) rotateZ(0); */
	/* animation: rotate 20s linear infinite; */
}

.face {
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(360deg) rotateZ(0);
	}
	100% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(0deg) rotateZ(0);
	}
}
