.polygon {
	position: relative;
	transform-style: preserve-3d;
}

.face {
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(360deg) rotateZ(0);
	}
	100% {
		transform: translateZ(0px) rotateX(-30deg) rotateY(0deg) rotateZ(0);
	}
}
