.meteorite {
	border: 1px solid #000;
	width: 220px;
	height: 220px;
	--rings-color-normal: #fff;
	--rings-color-clicked: #0f0;
	--rings-color: var(--rings-color-normal);

	/* animation: meteorite 2s linear infinite; */
}

.meteorite,
.meteorite * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 100%;
}

.core,
.core-clicked,
.core-clickable {
	width: 30%;
	height: 30%;
}

.core {
	background: radial-gradient(ellipse at center, #3d3d3d 0%, #000000);
}

.core-clicked {
	display: none;
	background: radial-gradient(ellipse at center, var(--rings-color-clicked) 0%, #000000);
	opacity: 0;
	animation: core-clicked 0.25s linear forwards;
}

.core-clicked.show {
	display: block;
}

.circle {
	width: 0;
	height: 0;
	border: 0 solid #0f0;
	border-radius: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	animation: circle-1 2s linear infinite;
}

.circle-1 {
	border-color: #0f0;
}

.circle-2 {
	border-color: #f0f;
	animation-name: circle-2;
	animation-delay: 1s;
}

.circle-3 {
	border-color: #ff0;
	animation-delay: 2s;
}

.circle-4 {
	border-color: #0ff;
	animation-name: circle-2;
	animation-delay: 3s;
}

@keyframes meteorite {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 200px;
		height: 200px;
	}
}

@keyframes core-clicked {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes circle-1 {
	0% {
		/* border-width: 10px; */
		border-width: 0;
		width: 0;
		height: 0;
		opacity: 0;
		border-color: transparent;
		transform: rotate3d(1, 1, 1, 0deg);
	}
	15% {
		border-width: 10px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	75% {
		border-width: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		opacity: 1;
		border-color: transparent;
	}
	100% {
		border-width: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;

		border-color: var(--rings-color);
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

@keyframes circle-2 {
	0% {
		/* border-width: 10px; */
		border-width: 0;
		width: 0;
		height: 0;
		opacity: 0;
		border-color: transparent;
		transform: rotate3d(1, -1, 1, 0deg);
	}
	15% {
		border-width: 10px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	75% {
		border-width: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		opacity: 1;
		border-color: transparent;
	}
	100% {
		border-width: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;

		border-color: var(--rings-color);
		transform: rotate3d(1, 1, -1, 360deg);
	}
}
